html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  border: 2px solid lightseagreen;
  border-radius: 5px;
  width: 75%;
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  top: 3rem;
  bottom: 3rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
}

h1, form, ol.household, form.div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

h1 {
  padding: 1.5rem;
  margin-top: 0;
  width: 100%;
  height: 5rem;
  background-color: lightseagreen;
  justify-content: baseline;
  font-weight: normal;
}

.builder {
  display: flex;
  flex-direction: row-reverse;
}

ol.household, 
form {
  width: 48%;
  height: 100%;
  padding: 1rem;
  margin: 1rem;
}

ol.household {
  border: 1px solid seagreen;
  border-radius: 5px;
  list-style: none;
  counter-reset: member-counter;
  max-height:50vh;
  overflow: scroll;
}

ol.household li {
	width: 100%;
	border: 2px solid lightseagreen;
	padding: 0.5rem;
	box-sizing: border-box;
  border-radius: 5px;
  counter-increment: member-counter;
}

ol.household li::before {
	content: counter(member-counter);
	background: lightseagreen;
	display: block;
	float: left;
	height: 1rem;
	padding: 0.5rem;
	color: white;
	font-weight: bold;
	margin: 0.25rem 1rem 0.5rem 0.5rem;
	border-radius: 50%;
	width: 1rem;
	text-align: center;
}

.removeButton {
	background: seagreen;
	display: block;
	float: right;
	height: 1rem;
	width: 1rem;
	color: white;
	border-radius: 50%;
	margin: 0.1rem 0.1rem 1rem 1rem;
	text-align: center;
	font-weight: bold;
	font-size: 8pt;
	margin-top: -3.2rem;
}

form {
  margin-top: 0;
}

form div {
  margin-bottom: 1rem;
}

label {
  display: flex;
  width: 100%;
  height: 3rem;
  font-size: 14pt;
  font-weight: bold;
  align-items: baseline;  
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

select, input {
  height: 2.5rem;
  border: 3px solid lightgray;
  font-size: 13pt;
  padding-left: 1rem;
  border-radius: 3px;
  width: 12rem;
}


error {
  color: maroon;
  font-style: italic;
  font-size: 9pt;
  width: 100%;
  padding-top: 0.2em;
  padding-right: 0.4em;
  display: flex;
  justify-content: right;
}

input[type='checkbox'] {
  height: 2.5rem;
  width: 2.5rem;
}

button {
  border: none;
  border-radius: 3px;
  background: lightseagreen;
  width: 8rem;
  height: 2.5rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2rem; 
}

button.add {
  float: left;
  background: seagreen;
}

button[type='submit'] {
  float: right;
}

button:disabled {
  background: darkslategray;
}

button.active {
  background: lightseagreen;
}

.debug.visible {
  display: block;
  margin-top: 1rem;
}